---
import { navItems } from "./NavBar.astro";
---

<header id="unalTop" style="background-color: #666;">
  <div class="logo">
    <a href="http://unal.edu.co">
      <svg width="93%" height="93%">
        <image
          xlink:href="images/escudoUnal.svg"
          width="100%"
          height="100%"
          class="hidden-print"
        />
      </svg>
      <img src="images/escudoUnal_black.png" class="visible-print" />
    </a>
  </div>

  <div class="seal">
    <img
      class="hidden-print"
      alt="Escudo de la República de Colombia"
      src="images/sealColombia.png"
      width="66"
      height="66"
    />

    <img
      class="visible-print"
      alt="Escudo de la República de Colombia"
      src="images/sealColombia_black.png"
      width="66"
      height="66"
    />
  </div>

  <div class="firstMenu">
    <button
      class="navbar-toggle collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#bs-navbar"
      aria-controls="bs-navbar"
      aria-expanded="false"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <ul class="socialLinks hidden-xs">
      <li>
        <a
          href="https://www.facebook.com/UNALOficial"
          target="_blank"
          class="facebook"
          title="Página oficial en Facebook"></a>
      </li>
      <li>
        <a
          href="https://twitter.com/UNALOficial"
          target="_blank"
          class="twitter"
          title="Cuenta oficial en Twitter"></a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg"
          target="_blank"
          class="youtube"
          title="Canal oficial de Youtube"></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/unaloficial/?hl=es-la"
          target="_blank"
          class="instagram"
          title="Cuenta oficial en Instagram"
        >
        </a>
      </li>
    </ul>
    <div class="navbar-default">
      <nav id="profiles">
        <ul class="nav navbar-nav dropdown-menu">
          <li class="item_Aspirantes #>">
            <a href="http://aspirantes.unal.edu.co" target="_blank"
              >Aspirantes</a
            >
          </li>
          <li class="item_Estudiantes #>">
            <a href="http://estudiantes.unal.edu.co" target="_blank"
              >Estudiantes</a
            >
          </li>
          <li class="item_Egresados #>">
            <a href="http://egresados.unal.edu.co" target="_blank">Egresados</a>
          </li>
          <li class="item_Docentes #>">
            <a href="http://docentes.unal.edu.co" target="_blank">Docentes</a>
          </li>
          <li class="item_Administrativos #>">
            <a href="http://administrativos.unal.edu.co" target="_blank"
              >Administrativos</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="bs-navbar" class="navbar-collapse collapse navigation">
    <div class="site-url">
      <p style="padding-bottom:0.5rem"><big>Proyecto Urdimbre</big></p>
      <p>Formación Integral</p>
    </div>
    <div class="buscador">
      <div
        class="gcse-searchbox-only"
        data-resultsUrl="http://unal.edu.co/resultados-de-la-busqueda/"
        data-newWindow="true"
      >
      </div>
    </div>

    <div class="btn-group sedes">
      <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sedes<span class="caret"></span>
      </div>
      <ul class="dropdown-menu dropItem-16">
        <li>
          <a href="http://amazonia.unal.edu.co" target="_blank">Amazonía</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://bogota.unal.edu.co" target="_blank">Bogotá</a><span
            class="caret-right"></span>
        </li>
        <li>
          <a href="http://caribe.unal.edu.co" target="_blank">Caribe</a><span
            class="caret-right"></span>
        </li>
        <li>
          <a href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://www.manizales.unal.edu.co" target="_blank"
            >Manizales</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://medellin.unal.edu.co" target="_blank">Medellín</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://orinoquia.unal.edu.co" target="_blank">Orinoquía</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a
          ><span class="caret-right"></span>
        </li>
        <li>
          <a href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a
          ><span class="caret-right"></span>
        </li>
      </ul>
    </div>

    <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
      <div
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        id="unalOpenMenuServicios"
        data-target="#services"
      >
        Servicios<span class="caret"> </span>
      </div>
    </div>

    <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
      <div
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        id="unalOpenMenuPerfiles"
        data-target="#profiles"
      >
        Perfiles<span class="caret"> </span>
      </div>
    </div>

    <div
      class="btn-groups hidden-sm hidden-md hidden-lg hidden-print flex flex-col text-lg"
    >
      {
        navItems.map((item) => (
          <a
            class="btn-group flex"
            style="padding: 0.2rem 1.1rem; text-decoration:none; color: white;"
            href={item.url}
          >
            {item.title}
          </a>
        ))
      }
      <!-- {
        navItems.map((item) => (
          <a
            class="btn-group flex"
            style="padding: 0.2rem 1.1rem; text-decoration:none; color: white;"
            href={item.url}
          >
            {item.icon && <img src={item.icon.src} class="w-5 h-5 m-1" />}
            {item.title}
          </a>
        ))
      } -->
    </div>
  </div>
</header>
